<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3h3SGv3FIGKe-hLzczZVvQ6HZC7AFANU</string>
	<key>GCM_SENDER_ID</key>
	<string>45791923833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phacks</string>
	<key>PROJECT_ID</key>
	<string>empathy-exchange-473417</string>
	<key>STORAGE_BUCKET</key>
	<string>empathy-exchange-473417.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45791923833:ios:e3505d5656da67ed6b8ea8</string>
	<key>DATABASE_URL</key>
	<string>https://empathy-exchange-473417-default-rtdb.firebaseio.com</string>
</dict>
</plist>